<div class="listing-grid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
      <%= link_to "#", data: {toggle: :tooltip, placement: "bottom",
        original_title: "#{post.user_name}"} do %>
        <%= image_tag post.user.avatar.url, class: "img-responsive center-block" %>
      <% end %>
    </div>
    <div class="col-md-7 col-sm-8  col-xs-12">
      <h3><%= link_to post.title, post_path(post.id) %></h3>
      <div class="listing-meta">
        <span>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= load_time_created_at post %>
        </span>
        <span>
          <i class="fa fa fa-eye" aria-hidden="true"></i>
          <%= post.count_view %> <%= t ".view" %>
        </span>
        <span>
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          <%= post.count_comment %> <%= t "posts.index.comment" %>
        </span>
      </div>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-12">
      <ul class="question-statistic">
        <li class="active">
          <span data-toggle="tooltip" title="Answers"><%= post.count_answer %></span>
        </li>
        <li>
          <span data-toggle="tooltip" title="Votes"><%= count_vote post %></span>
        </li>
      </ul>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-12 truncate-post">
      <div class="content-post">
        <%= raw post.content %>
      </div>
      <div class="pull-right tagcloud">
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
      </div>
    </div>
  </div>
</div>
