<%= link_to post.title, post_path(post) %>
<%= link_to topic_path(post.topic) do %>
  <span class="badge"><%= post.topic_name %></span>
<% end %>
<div class="listing-meta">
  <span>
    <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= t ".activities.on" %> <%= time_ago_in_words activity.created_at %>
  </span>
</div>
