<div class="row">
  <table class="table feedback-table">
    <thead class="feedback-header-table">
      <tr>
        <th scope="col"><%= t "feedback.id" %></th>
        <th scope="col"><%= t "feedback.user_name" %></th>
        <th scope="col"><%= t "feedback.title" %></th>
        <th scope="col"><%= t "feedback.category" %></th>
        <th scope="col"><%= t "feedback.office" %></th>
        <th scope="col"><%= t "feedback.date" %></th>
        <th scope="col"><%= t "feedback.status" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "feedback", feedbacks: feedbacks %>
    </tbody>
  </table>
  <div class="text-center clearfix">
    <%= paginate feedbacks %>
  </div>
</div>
