<% if posts.present? %>
  <% posts.each do |post| %>
    <div class="listing-grid">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
          <a data-toggle="tooltip" data-placement="bottom"
            data-original-title="<%= post.user.name %>" href="#">
            <%= image_tag post.user.avatar.url, class: "img-responsive center-block" %>
          </a>
        </div>
        <div class="col-md-7 col-sm-8  col-xs-12">
          <% if check_workspace_feedback post %>
            <h3><%= link_to post.title, post_path(post.id) %> </br>
              <span class="work_space_name workspace_<%= post.work_space_id %>">
                <%= link_to post.work_space_name, "javascript:", onclick:
                  "filter_by_work_space(#{post.work_space_id});", class: "link-to-local" %></span>
            </h3>
          <% else %>
            <h3><%= link_to post.title, post_path(post.id) %></h3>
          <% end %>
          <div class="listing-meta">
            <span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <%= time_ago_in_words post.created_at %>
            </span>
            <span>
              <i class="fa fa fa-eye" aria-hidden="true"></i>
              <%= post.count_view %> <%= t ".view" %>
            </span>
            <span>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <%= count_comment post %> <%= t "posts.index.comment" %>
            </span>
          </div>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-12">
          <ul class="question-statistic">
            <li class="active">
              <a data-toggle="tooltip" data-placement="bottom"
                data-original-title="<%= t ".answers" %>">
                <span><%= post.answers.size %></span>
              </a>
            </li>
            <li>
              <a data-toggle="tooltip" data-placement="bottom"
                data-original-title="<%= t ".votes" %>">
                <span><%= count_vote post %></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12 truncate-post">
          <div class="content-post">
            <%= raw post.content %>
          </div>
          <div class="pull-right tagcloud">
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, tag %>
            <% end %>
          </div>
          <% if post.topic_id == Settings.topic.feedback_number%>
            <div class="pull-right tagcloud">
               <%= link_to post.category.name, post.category if post.category.present? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if params[:all] && params[:type] && params[:type] == type %>
    <div class="text-center clearfix">
      <%= paginate posts %>
    </div>
  <% end %>
<% end %>
