<div class="listing-grid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 hidden-xs">
      <%= link_to "#", data: {toggle: :tooltip, placement: "bottom",
        original_title: "#{post.user_name}"} do %>
        <%= image_tag post.user.avatar.url, class: "img-responsive center-block" %>
      <% end %>
      <% if check_feeback_topic post.topic_id %>
        <div class="row vote-of-post text-center vote-post-of-feedback">
          <div class="btn-action">
            <%= link_to "javascript:", class: "btn-vote anonymous",
              data: {type: Settings.reaction_type.up, model: Post.name,
              id: post.id} do %>
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="point-vote-<%= post.id %>"><%= count_vote_feedback post %></div>
          <div class="btn-action">
            <%= link_to "javascript:", class: "btn-vote anonymous",
              data: {type: Settings.reaction_type.down, model: Post.name,
              id: post.id} do %>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 topic-post-content">
      <div class="col-md-9 col-sm-8  col-xs-12">
        <% if check_feeback_topic post.topic_id %>
          <h3><%= link_to post.title, post_path(post.id) %></h3>
          <span class="work_space_name workspace_<%= post.work_space_id %>">
            <%= link_to post.work_space_name, "javascript:", data: {id: post.work_space_id},
              class: "link-to-local choose-work-space" %>
          </span>
        <% else %>
          <h3><%= link_to post.title, post %></h3>
        <% end %>
        <div class="listing-meta">
          <span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <%= load_time_created_at post %>
          </span>
          <span>
            <i class="fa fa fa-eye" aria-hidden="true"></i>
            <%= post.count_view %> <%= t ".view" %>
          </span>
          <% if !check_feeback_topic post.topic_id %>
            <span>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <%= post.count_comment %> <%= t "posts.index.comment" %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-12">
        <ul class="question-statistic">
          <li class="active">
            <%= link_to "javascript:", data: {toggle: "tooltip", original_title: "#{t ".answers"}"} do %>
              <span class="count"><i class="fa fa-reply" aria-hidden="true"></i>
                <%= post.count_answer %>
              </span>
            <% end %>
          </li>
          <li>
            <a data-toggle="tooltip" data-placement="bottom"
              data-original-title="<%= t ".votes" %>">
              <span class="count"><i class="fa fa-sort" aria-hidden="true"></i> <%= count_vote post %></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 truncate-post">
        <div class="content-post post-<%= post.id %>">
          <span class="more"><%= raw post.content %></span>
        </div>
        <% if check_feeback_topic post.topic_id %>
          <div class="pull-right tagcloud category">
            <% if post.category_name.present? %>
              <span><%= post.category_name %></span>
            <% end %>
          </div>
        <% else %>
          <div class="pull-right tagcloud">
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, tag %>
            <% end %>
          </div>
        <% end %>
        <div class="row">
          <% if post.count_answer > Settings.number_zero && @topic.id == Settings.topic.feedback_number %>
            <p>
              <a class="answer-for-feedback" data-toggle="collapse" href="#answers-feedback-<%=post.id%>"
                aria-expanded="false" aria-controls="collapseExample" data-id="<%= post.id%>">
                <%= t "view_answer" %>
              </a>
            </p>
            <div class="collapse answer-for-feedback-item" id="answers-feedback-<%=post.id%>">
<<<<<<< 469bddf7f474c2c638a04f1dfa3c4fd1188244a5
              <%= render partial: "posts/answer", locals: {post: post, answer: post.answers.first, topic_view: true} %>
=======
              <%= render partial: "posts/answer", locals: {post: post, answer: post.answers.first} %>
>>>>>>> show answer of feedback post
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
