<div class="main-content-area">
  <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
  <section class="white question-tabs padding-bottom-80" id="latest-post">
    <div class="container">
      <div class="row">
        <!-- Content Area Bar -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <!-- Tabs -->
              <ul class="nav panel-tabs">
                <li  class="active">
                  <a data-toggle="tab" href="#tab1">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".recent_questions" %></span>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab2">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".popular_response" %></span>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab3">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".recently_answered" %></span>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab4">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".no_answer" %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div id="tab1" class="tab-pane active">
                <!-- Question Listing -->
                <%= render "topics/post" %>
                <!-- Question Listing End -->
                <!-- Pagination View More -->
                <% if !params[:all] %>
                  <div class="text-center clearfix">
                    <%=
                      link_to t(".view_all_question"),
                      topic_path(params[:id], all: true),
                      class: "btn btn-primary btn-lg"
                    %>
                  </div>
                <% end %>
                <!-- Pagination View More End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
