<section class="white question-tabs padding-bottom-80" id="current-toppic" data-id="<%= @topic.id %>">
  <div class="container">
    <div class="row filter">
      <% if @topic.id == Settings.topic.feedback_number %>
        <div class="form-group col-md-3 col-xs-12 choose-office">
          <i class="fa fa-map-marker label-location" aria-hidden="true">
            <span><%= t "choose_office" %>: </span>
          </i>
          <div class="location-dropdown custom-height select-location">
            <button class="location-dropbtn form-control" data-id="<%= work_space_id(@support.work_space) %>">
              <%= work_space_name(@support.work_space) %>
            </button>
            <div class="location-dropdown-content">
              <% load_select_box_location(@support.work_space_list).each do |location| %>
                <%= link_to location.first, "javascript:", data: {id: location.last}, class: "choose-work-space" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group col-md-3 col-xs-12">
        <i class="fa fa-sort label-location" aria-hidden="true">
          <span><%= t "sort_by" %>: </span>
        </i>
        <div class="sort-by-dropdown custom-height select-sort-by">
          <button class="sort-by-dropbtn form-control" data-id="<%= @support.filter_type[:sort_type] %>">
            <%= t("sort_type_list.#{@support.filter_type[:sort_type]}") %>
          </button>
          <div class="sort-by-dropdown-content">
            <% @support.sort_type_list.each do |sort_type| %>
              <%= link_to t("sort_type_list.#{sort_type}"), "javascript:",
                data: {id: sort_type}, class: "choose-sort-type" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3 col-xs-12">
        <div class="input-group date custom-width">
          <i class="fa fa-calendar-o label-location" aria-hidden="true">
            <span><%= t "from_day" %>:&nbsp; </span>
          </i>
          <%= text_field_tag :from_day, @support.filter_type[:from_day],
            placeholder: "dd/mm/yyyy", class: "form-control", id: "from-day-picker" %>
        </div>
      </div>
      <div class="form-group col-md-3 col-xs-12">
        <div class="input-group date custom-width">
          <i class="fa fa-calendar label-location" aria-hidden="true">
            <span><%= t "to_day" %>:&nbsp; </span>
          </i>
          <%= text_field_tag :to_day, @support.filter_type[:to_day],
            placeholder: "dd/mm/yyyy", class: "form-control", id: "to-day-picker" %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <% if @topic.id == Settings.topic.feedback_number %>
          <div class="filter_by_week">
            <%= render "topics/weekly_filter", support: @support %>
          </div>
        <% end %>
        <div class="tab-pane fade in active">
          <div class="content-posts">
            <%= render partial: "topics/post", collection: @support.filter_posts %>
          </div>
          <div class="text-center clearfix paginate-posts">
            <%= paginate @support.filter_posts, remote: true %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <%= render "topics/sidebar", support: @support, topic: @topic %>
      </div>
    </div>
  </div>
</section>
<div class="modal fade modal-answer" id="modal-show-fast-answer">
  <div class="modal-dialog show-fast-answer">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t "show_fast_answer" %></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">
          <%= t "ok" %>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="like-modal"></div>
