<div id="current-toppic" data-id="<%= params[:id] %>"></div>
<div class="main-content-area">
  <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
  <section class="white question-tabs padding-bottom-80" id="latest-post">
    <div class="container">
      <div class="row">
        <% if @topic.id == Settings.topic.feedback_number %>
          <span class="label-location"><%= t "choose_office" %> : </span>
          <div class="location-dropdown custom-height select-location">
            <button class="location-dropbtn">
              <%= @support.get_work_space.try(:id).present? ? @support.get_work_space.name : t("all_location") %>
            </button>
            <div class="location-dropdown-content">
              <% load_select_box_location.each do |location| %>
                <%= link_to location.first, "javascript:", onclick: "filter_by_work_space(#{location.last});" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <!-- Content Area Bar -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <!-- Tabs -->
              <ul class="nav panel-tabs panel-tabs-<%= @topic.id %>">
                <li class="<%= add_class_active_to_show_page params[:type],
                  Settings.topic.type_sort.recently, true %>">
                  <a data-toggle="tab" href="#tab1">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".recent_questions" %></span>
                  </a>
                </li>
                <li class="<%= add_class_active_to_show_page params[:type],
                  Settings.topic.type_sort.popular %>">
                  <a data-toggle="tab" href="#tab2">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".popular_response" %></span>
                  </a>
                </li>
                <li class="<%= add_class_active_to_show_page params[:type],
                  Settings.topic.type_sort.recently_answer %>">
                  <a data-toggle="tab" href="#tab3">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".recently_answered" %></span>
                  </a>
                </li>
                <li class="<%= add_class_active_to_show_page params[:type],
                  Settings.topic.type_sort.no_answer %>">
                  <a data-toggle="tab" href="#tab4">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                    <span class="hidden-xs"><%= t ".no_answer" %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div class="tab-content col-md-8">
              <!-- Recent Question -->
              <div id="tab1" class="tab-pane <%= add_class_active_to_show_page params[:type],
                Settings.topic.type_sort.recently, true %>">
                <span class="newest">
                  <%= render "topics/post",
                    posts: @support.recent_posts[:posts],
                    type: Settings.topic.type_sort.recently %>
                </span>
                <span class="newest-pagination">
                  <% if @support.recent_posts[:count_posts] > Settings.paginate_default %>
                    <%= render "topics/view_all", type: Settings.topic.type_sort.recently,
                      work_space_id: load_workspace_id(@support) %>
                  <% end %>
                </span>
              </div>

              <!-- Popular Response -->
              <div id="tab2" class="tab-pane <%= add_class_active_to_show_page params[:type],
                Settings.topic.type_sort.popular %>">
                <span class="popular">
                  <%= render "topics/post",
                    posts: @support.popular_posts[:posts],
                    type: Settings.topic.type_sort.popular %>
                </span>
                <span class="popular-pagination">
                  <% if @support.popular_posts[:count_posts] > Settings.paginate_default %>
                    <%= render "topics/view_all", type: Settings.topic.type_sort.popular,
                      work_space_id: load_workspace_id(@support) %>
                  <% end %>
                </span>
              </div>

              <!-- Recently Answer -->
              <div id="tab3" class="tab-pane <%= add_class_active_to_show_page params[:type],
                Settings.topic.type_sort.recently_answer %>">
                <span class="answer">
                  <%= render "topics/post",
                    posts: @support.recently_answer_of_post[:posts],
                    type: Settings.topic.type_sort.recently_answer %>
                </span>
                <span class="answer-pagination">
                  <% if @support.recently_answer_of_post[:count_posts] > Settings.paginate_default  %>
                    <%= render "topics/view_all", type: Settings.topic.type_sort.recently_answer,
                      work_space_id: load_workspace_id(@support) %>
                  <% end %>
                </span>
              </div>

              <!-- No Answer -->
              <div id="tab4" class="tab-pane <%= add_class_active_to_show_page params[:type],
                Settings.topic.type_sort.no_answer %>">
                <span class="no_answer">
                  <%= render "topics/post",
                    posts: @support.posts_no_answer[:posts],
                    type: Settings.topic.type_sort.no_answer %>
                </span>
                <span class="no-answer-pagination">
                  <% if @support.posts_no_answer[:count_posts] > Settings.paginate_default %>
                    <%= render "topics/view_all", type: Settings.topic.type_sort.no_answer,
                      work_space_id: load_workspace_id(@support) %>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <%= render "topics/sidebar" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
