<div class="notification-item <%= notification.not_seen? ? "status-no-seen" : "" %>">
  <%= link_to post_path(notification.load_message.last, noti_id: notification.id,
  anchor: "#{notification.activity.trackable_type.downcase}-item-#{notification.activity.trackable_id}"), class: "notiication" do %>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <%= image_tag notification.activity.owner.avatar, class: "user-avatar" %>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 content-notification" >
      <div class="row pd-top-10">
        <span class="user-name"><%= notification.activity.owner.name %></span>
      </div>
      <span class="content custom-content"><%= notification.load_message.first %></span>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 time-notification">
      <span class="time">
        <i class="fa fa-clock-o" aria-hidden="true"></i>:
        <%= time_ago_in_words notification.created_at %>
      </span>
    </div>
  <% end %>
</div>
