<div class="col-md-4">
  <%= link_to (image_tag get_avatar_user(user), class: "img-circle avatar_user"),
    user_path(user.id) %>
  <p>
    <%= link_to raw("<b>" + truncate(user.name, length: Settings.limit_string.name) + "</b>"),
      user_path(user.id), class: "custom_text_link" %>
    <br>
    <span class="badge" data-toggle="tooltip" title="<%= t ".question" %>">
      <span class="fa fa-pencil"> <%= user.posts.size %></span>
    </span>
    <span class="badge" data-toggle="tooltip" title="<%= t ".answer" %>">
      <span class="fa fa-reply"> <%= user.answers.size %></span>
    </span>
    <span class="badge" data-toggle="tooltip" title="<%= t ".comment" %>">
      <span class="fa fa-comment"> <%= user.comments.size %></span>
    </span>
  </p>
  <div class="follow_unfollow_<%= user.id %>">
    <% if user_signed_in? %>
      <% if check_follow user.id %>
        <%= link_to t(".following"), "javascript:void(0)",
        class: "btn btn-success btn-xs",
        onclick:"handle_follow_user('" + user.id.to_s + "', '" + follow_path(user.id) + "')" %>
      <% else  %>
        <%= link_to t(".follow"), "javascript:void(0)",
        class: "btn btn-default btn-xs",
        onclick: "handle_follow_user('" + user.id.to_s + "', '" + follow_path(user.id) + "')" %>
      <% end %>
    <% else %>
      <div class="btn-new-comment">
        <%= link_to t(".follow"), "javascript:void(0)",
          class: "btn btn-primary btn-xs add-new-comment",
          is_login: user_signed_in? %>
      </div>
    <% end  %>
  </div>
</div>
