<% if @posts_tag.present? %>
  <% @posts_tag.each do |post| %>
    <div class="listing-grid">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
          <a data-toggle="tooltip" data-placement="bottom"
            data-original-title="<%= post.user.name %>" href="#">
            <%= image_tag get_avatar_user(post.user), class: "img-responsive center-block" %>
          </a>
        </div>
        <div class="col-md-7 col-sm-8  col-xs-12">
          <h3><a href="#"> <%= post.title %></a></h3>
          <div class="listing-meta">
            <span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <%= time_ago_in_words post.created_at %>
            </span>
            <span>
              <i class="fa fa fa-eye" aria-hidden="true"></i>
              <%= post.count_view %> <%= t ".view" %>
            </span>
          </div>
        </div>

        <div class="col-md-10 col-sm-10  col-xs-12">
          <%= raw truncate(post.content, length: Settings.content_max_length) %>
          <div class="pull-right tagcloud">
            <% post.tags.each do |tag| %>
              <a href="#"><%= tag.name %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
    <center><h1><%= t ".not_found" %></h1></center>
<% end %>
