<div class="tag-item">
  <div class="panel-left">
    <%= image_tag tag.image.present? ? tag.image : "tag_default", class: "tag-image" %>
  </div>
  <div class="panel-right">
    <div class="tag-name"><%= tag.name %></div>
    <div class="tag-follow">
      <i class="fa fa-user-plus" aria-hidden="true"></i>:
      <%= tag.used_count %> <%= t "tags.index.follower" %>
    </div>
    <div class="tag-post">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>:
      <%= tag.used_count %> <%= t "tags.index.post" %>
    </div>
    <div class="tag-function">
      <%= link_to "#", class: "btn btn-success btn-xs", disabled: true do %>
        <%= t "tags.index.follow" %>
      <% end %>
    </div>
  </div>
</div>
