<div class="media-block card-box ribbon-content">
  <% if answer.best_answer %>
    <div class="ribbon base">
      <span><%= t ".correct_answer" %></span>
    </div>
  <% end %>
  <div class="media-left">
    <a data-toggle="tooltip" data-placement="bottom"
       data-original-title="<%= answer.user_name %>" href="#">
      <%= image_tag get_avatar_user(answer.user), class: "img-sm" %>
    </a>
  </div>
  <div class="media-body">
    <div class="mar-btm">
      <h4>
        <a href="#" class="btn-link text-semibold media-heading box-inline">
          <%= answer.user_name %>
        </a>
      </h4>
      <p class="text-muted text-sm">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= time_ago_in_words answer.created_at %>
      </p>
    </div>
    <p><%= raw answer.content %></p>
    <div class="pad-ver pull-right">
      <a class="btn btn-sm btn-default btn-hover-success"
         data-toggle="tooltip" data-placement="bottom"
         data-original-title="<%= t ".like_answer" %>" href="#">
        <i class="fa fa-thumbs-up"></i>
      </a>
      <a class="btn btn-sm btn-default btn-hover-danger"
         href="#" data-original-title="<%= t ".spam" %>"
         data-placement="bottom" data-toggle="tooltip">
        <i class="fa fa-thumbs-down"></i>
      </a>
      <%= load_btn_correct_answer answer, @post %>
    </div>
  </div>
</div>
