<%= hidden_field_tag :check_user_login, current_user.present? %>
<%= form_for @post do |f| %>
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1><%= t ".title" %></h1>
        </div>
        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><%= link_to t(".home"), root_path %></li>
              <li class="active"><%= t ".title" %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding-80 white" id="post-question">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="box-panel">
            <h2><%= t ".title" %></h2>
            <span id="topic-info">
            </span>
            <hr>
            <div class="margin-top-40">
              <div class="form-group">
                <label><%= t ".toppic" %></label>
                <%= f.select :topic_id, load_select_box_topic, {},
                  {class: "questions-category form-control", id: "select-toppic"} %>
              </div>
              <div class="form-group">
                <label><%= t ".location" %></label>
                <%= f.select :work_space_id, load_select_box_location, {},
                  {class: "questions-category form-control", id: "select-location"} %>
              </div>
              <div class="form-group">
                <label><%= t ".form.title" %></label>
                <%= f.text_field :title, maxlength: Settings.post.max_title,
                  minlength: Settings.post.min_title, required: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <label><%= t ".form.tags" %></label>
                <%= text_field_tag :tags, "", class: "form-control",
                  data: {role: "tagsinput"} %>
              </div>
              <div class="form-group">
                <label><%= t ".form.content" %></label>
                <%= f.text_area :content, minlength: Settings.post.min_title,
                  required: true, class: "form-control froalaEditor" %>
              </div>
              <div class="panel-info-user">
                <label>
                  <i class="fa fa-user-secret" aria-hidden="true"></i>
                  <%= t ".form.with_anonymous" %>
                  <%= check_box_tag :anonymous %>
                </label>
                <div class="row form-login">
                  <label class="col-md-12">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= t ".form.with_member" %>
                  </label>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label><%= t ".login.email" %></label>
                      <%= email_field_tag "user_email", "", required: true, class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label><%= t ".login.password" %></label>
                      <%= password_field_tag "user_password", "", required: true, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
              <%= f.submit t(".form.btn_post"), id: "create-post",
                class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-0">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
<% end %>
