<div id="current-toppic" data-id="<%= @post.topic_id %>"></div>
<div class="main-content-area">
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1><%= t ".detail" %></h1>
        </div>
        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><%= link_to t(".home"), root_path %></li>
              <li class="active"><%= t ".detail" %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding-80 white question-details">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-1">
              <div class="row vote-of-post text-center">
                <% if current_user.present? %>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-vote",
                      data: {type: Settings.reaction_type.up, model: Post.name, id: @post.id} do %>
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="point-vote"><%= count_vote @post %></div>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-vote",
                      data: {type: Settings.reaction_type.down, model: Post.name, id: @post.id} do %>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <% end %>
                  </div>
                <% else %>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-loggin-continue" do %>
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="point-vote"><%= count_vote @post %></div>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-loggin-continue" do %>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-11">
              <div class="listing-grid">
                <div class="row" id="post-body">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 id="post-tile"><%= @post.title %><%= load_icon_clip @post %></h3>
                    <div class="listing-meta">
                      <span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <%= time_ago_in_words @post.created_at %>
                      </span>
                      <span>
                        <i class="fa fa fa-eye" aria-hidden="true"></i>
                        <%= @post.count_view %> <%= t "posts.index.view" %>
                      </span>
                      <span class="float-right">
                        <%= raw load_button_functions_post(@post) %>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= raw @post.content %>
                    <div class="tagcloud">
                      <% @post.tags.each do |tag| %>
                        <%= link_to tag.name, root_path + "?tag_id=#{tag.id}" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-new-commment">
            <div class="comment-list" id="comment-list-post-<%= @post.id %>">
              <%= render partial: "posts/comment", collection: @post.comments, as: :comment %>
            </div>
            <div class="btn-new-comment">
              <%= link_to t(".new_comment"), "javascript:", class: "add-new-comment",
                is_login: user_signed_in? %>
            </div>
            <% if user_signed_in? %>
              <div class="comment-new">
                <%= render "comments/create",
                  comment: @post.comments.new,
                  object_id: @post.id,
                  object_type: Settings.comment.object_type.post,
                  button_name: t(".btn_comment") %>
              </div>
            <% end %>
          </div>
          <div class="clearfix"></div>
          <div class="thread-reply">
            <h2><%= t ".thread_answers" %> </h2>
            <% if @post.answers.present? %>
              <%= render partial: "posts/answer", collection: @post.answers, as: :answer %>
            <% else %>
              <%= label_tag "", t(".post_not_answers"), class: "post-not-answers" %>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <%= form_for @answer do |f| %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <div class="form-group">
              <h2><%= t ".post_your_answer" %></h2>
              <%= f.text_area :content, minlength: Settings.post.min_title,
                required: true, class: "form-control froalaEditor" %>
            </div>
            <div class="row form-login">
              <% unless current_user.present? %>
                <div class="col-md-6">
                  <div class="form-group">
                    <label><%= t ".login.email" %></label>
                    <%= email_field_tag "user_email", "", required: true, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label><%= t ".login.password" %></label>
                    <%= password_field_tag "user_password", "", required: true, class: "form-control" %>
                  </div>
                </div>
              <% end %>
            </div>
            <%= f.submit t(".post_your_answer"), class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="side-bar">
            <div class="widget">
              <div class="widget-image widget-image-sm"> <%= image_tag "light-background.jpg" %>
                <div class="widget-image-content text-center">
                  <%= image_tag get_avatar_user(@post.user), class: "img-thumbnail" %>
                  <h2 class="widget-heading text-light">
                    <strong><%= @post.user_name %></strong>
                  </h2>
                  <h4 class="widget-heading text-light-op">
                    <em><%= @post.user_position %></em>
                  </h4>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="recent-comments">
                <h2><%= t ".hot_question" %></h2>
                <hr class="widget-separator no-margin">
                <%= render partial: "posts/extension_post",
                  collection: @post_extension.hot_post, as: :post,
                  locals: { type: Settings.post.extension.hot_question } %>
              </div>
            </div>
            <div class="widget">
              <div class="recent-comments">
                <h2><%= t ".recent_comments" %></h2>
                <hr class="widget-separator no-margin">
                <%= render partial: "posts/extension_post",
                  collection: @post_extension.recent_comment_of_post, as: :post,
                  locals: { type: Settings.post.extension.recent_comment } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modal-edit-comment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t ".edit_comment" %></h4>
      </div>
      <div class="modal-body">
        <div>
          <%= text_area_tag "comment-content", "", placeholder: t("comments.create.content"),
            minlength: Settings.post.min_title, required: true, class: "form-control resize-none" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal"><%= t "cancel" %></button>
        <button type="button" class="btn btn-xs btn-primary
          btn-accept-edit-comment" data-dismiss="modal">
          <%= t "ok" %>
        </button>
      </div>
    </div>
  </div>
</div>
