<% provide :button_text, t(".post_your_answer") %>
<% provide :improve_text, t("version.improve_btn") %>
<div id="current-toppic" data-id="<%= @post.topic_id %>"></div>
<div class="main-content-area">
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1><%= t ".detail" %></h1>
        </div>
        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><%= link_to t(".home"), root_path %></li>
              <li class="active"><%= t ".detail" %></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding-80 white question-details">
    <div class="container">
      <div class="row" id=content-post>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-1">
              <div class="row vote-of-post text-center">
                <% if current_user.present? %>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-vote",
                      data: {type: Settings.reaction_type.up, model: Post.name,
                      id: @post.id} do %>
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="point-vote"><%= count_vote @post %></div>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-vote",
                      data: {type: Settings.reaction_type.down, model: Post.name,
                      id: @post.id} do %>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <% end %>
                  </div>
                <% else %>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-loggin-continue" do %>
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="point-vote"><%= count_vote @post %></div>
                  <div class="btn-action">
                    <%= link_to "javascript:", class: "btn-loggin-continue" do %>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-11">
              <div class="listing-grid">
                <div class="row" id="post-body">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 id="post-tile"><%= @post.title %><%= load_icon_clip @post %></h3>
                    <div class="listing-meta">
                      <span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <%= time_ago_in_words @post.created_at %>
                      </span>
                      <span>
                        <i class="fa fa fa-eye" aria-hidden="true"></i>
                        <%= @post.count_view %> <%= t "posts.index.view" %>
                      </span>
                      <span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <%= count_comment @post %> <%= t "posts.index.comment" %>
                      </span>
                      <% if @post.user_id == current_user.id  && @post.topic_id == Settings.post_topic_qa %>
                        <span>
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                          <%= link_to "#{count_version @post}" + t("version.suggested_changes"),
                            a_versions_path(post_id: @post.id) %>
                        </span>
                      <% end %>
                      <span class="float-right">
                        <%= raw load_button_functions_post(@post) %>
                        <%= link_to "javascript:void(0)", data:
                          { toggle: "collapse",target: "#share_btn"} do %>
                            <i class="fa fa-share-alt btn-share" aria-hidden="true"></i>
                          <% end %>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="share_btn" class="collapse custom-share">
                      <%= social_share_button_tag(@post.title) %>
                    </div>
                    <span class="post-content">
                      <%= content_post @post %>
                    </span>
                    </br>
                    <% if @post.user_id != current_user.id && @post.topic_id == Settings.post_topic_qa %>
                      <%= link_to (t"version.improve_this_post"), "javascript:", class: "improve-post" %>
                      <div id="improve-form" style="display: none;">
                        <%= render "posts/improve_form", post: @post, option: {remote: false} %>
                      </div>
                    <% end %>
                    <div class="tagcloud">
                      <% @post.tags.each do |tag| %>
                        <%= link_to tag.name, tag %>
                      <% end %>
                    </div>
                    <% if @post.topic_id == Settings.topic.feedback_number %>
                      <div class="pull-right tagcloud">
                         <%= link_to @category.name, @category if @category.present? %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <% if @post.topic_name != Settings.feedback %>
            <div class="form-new-commment">
              <div id="next-page" class="next-page">
                <%= render "view_more", post: @post, next_page: @post_extension.next_page,
                  view_more_time: @post_extension.view_more_time  %>
              </div>
              <div class="comment-list" id="comment-list-post-<%= @post.id %>">
                <%= render partial: "posts/comment",
                  collection: @post_extension.comments_of_post, as: :comment %>
              </div>
              <div class="row bottom-comments">
                <div class="btn-new-comment col-md-6 col-xs-12">
                  <%= link_to t(".new_comment"), "javascript:", class: "add-new-comment",
                    is_login: user_signed_in? %>
                </div>
              </div>
              <% if user_signed_in? %>
                <div class="editable" contenteditable="true"
                  placeholder="<%= t("comments.create.content") %>"></div>
                <div class="comment-new">
                  <%= render "comments/create",
                    comment: @post.comments.build,
                    object_id: @post.id,
                    object_type: Settings.comment.object_type.post,
                    button_name: t(".btn_comment") %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="clearfix"></div>
          <div class="thread-reply">
            <h2><%= t ".thread_answers" %> </h2>
            <% if @post.answers.present? %>
              <%= render partial: "posts/answer", collection: @post.answers, as: :answer %>
            <% else %>
              <%= label_tag "", t(".post_not_answers"), class: "post-not-answers" %>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <% if check_permited_user_feedback || @post.topic_name != Settings.feedback %>
            <div id="answer-form">
              <%= render "posts/answer_form", answer: @answer, post: @post,
                option: {remote: false} %>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="side-bar">
            <div class="widget">
              <div class="widget-image widget-image-sm"> <%= image_tag "light-background.jpg" %>
                <div class="widget-image-content text-center">
                  <%= image_tag get_avatar_user(@post.user),
                    class: "img-thumbnail" %>
                  <h2 class="widget-heading text-light">
                    <strong><%= @post.user_name %></strong>
                  </h2>
                  <h4 class="widget-heading text-light-op">
                    <em><%= @post.user_position %></em>
                  </h4>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="recent-comments">
                <h2><%= t ".hot_question" %></h2>
                <hr class="widget-separator no-margin">
                <%= render partial: "posts/extension_post",
                  collection: @post_extension.hot_post, as: :post,
                  locals: { type: Settings.post.extension.hot_question } %>
              </div>
            </div>
            <div class="widget">
              <div class="recent-comments">
                <h2><%= t ".recent_comments" %></h2>
                <hr class="widget-separator no-margin">
                <%= render partial: "posts/extension_post",
                  collection: @post_extension.recent_comment_of_post, as: :post,
                  locals: { type: Settings.post.extension.recent_comment } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal fade" id="modal-edit-comment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t ".edit_comment" %></h4>
      </div>
      <div class="modal-body">
        <div class="editable show-editable" id="edit-comment-editable" contenteditable="true"
          placeholder="<%= t("comments.create.content") %>"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">
          <%= t "cancel" %></button>
        <button type="button" class="btn btn-xs btn-primary
          btn-accept-edit-comment" data-dismiss="modal">
          <%= t "ok" %>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="like-modal"></div>
