<% if @category %>
  $('.content-posts').html('<%= j(render partial: "topics/post", collection: @posts) %>');
  $('.paginate-posts').html('<%=j(paginate @posts, remote: true, \
    params: {controller: "topics", action: "show", id: Settings.topic.feedback_number, category_id: @category.id})  %>');
  $('.location-dropbtn').html('<%= t("all_location") %>');
  $('.location-dropbtn').attr('data-id', '');
  $('.sort-by-dropbtn').html('<%= j (t("sort_type_list.#{Settings.topic.type_sort.recently_answer}")) %>');
  $('.sort-by-dropbtn').attr('data-id', '<%= Settings.topic.type_sort.recently_answer %>');
  $('.filter_by_week').html('');
<% else %>
  swal({
    position: 'top-end',
    type: 'warning',
    title: I18n.t('category_management.not_found'),
    showConfirmButton: false,
    timer: 1500
  })
<% end %>
$(document).ready(function(){
  var showChar = 200;
  var ellipsestext = ' ...';
  var moretext = I18n.t('version.show_more');
  var lesstext = I18n.t('version.show_less');
  $('.more').each(function() {
    $(this).find('p').contents().unwrap();
    var content = $(this).html();
    if(content.length > showChar) {
      var c = content.substr(0, showChar);
      var h = content.substr(showChar, content.length - showChar);
      var html = c + '<span class="moreellipses">' + ellipsestext+ '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';
      $(this).html(html);
    }
  });
  $(".morelink").click(function(){
    if($(this).hasClass('less')) {
      $(this).removeClass('less');
      $(this).html(moretext);
    } else {
      $(this).addClass('less');
      $(this).html(lesstext);
    }
    $(this).parent().prev().toggle();
    $(this).prev().toggle();
    return false;
  });
});
