<p><%= t ".hello" %> <%= @resource.email %>!</p>

<p><%= t ".introduction" %></p>

<p><%= link_to t(".btn_change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= raw t ".helper" %>
