<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
        <ul class="top-nav nav-left">
          <li><%= link_to t(".home"), root_path %></li>
          <li class="hidden-xs"><%= link_to t(".help"), "#" %></li>
          <li class="hidden-xs"><%= link_to t(".mobile_app"), "#" %></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
        <ul class="top-nav nav-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle",
                data: {hover: "dropdown", tooggle: "dropdown", animations: "fadeInUp"} do %>
                <%= image_tag current_user.avatar, class: "img-circle resize" %>
                <span class="hidden-xs small-padding">
                  <span><%= current_user.name %></span>
                  <i class="fa fa-caret-down"></i>
                </span>
              <% end %>
              <ul class="dropdown-menu ">
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <%= t ".profile" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <%= t ".logout" %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <%= t ".login" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <%= t ".signup" %>
              <% end %>
            </li>
          <% end %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {hover: "dropdown", tooggle: "dropdown", animations: "fadeInUp"} do %>
              <%= image_tag "vi", class: "img-circle resize image-language" %>
            <% end %>
            <ul class="dropdown-menu ">
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "vi", class: "img-circle resize image-language"  %>
                  <%= t "language.vi" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "en", class: "img-circle resize image-language"  %>
                  <%= t "language.en" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <%= image_tag "ja", class: "img-circle resize image-language"  %>
                  <%= t "language.ja" %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo", class: "img-responsive image-logo" %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm"><%= link_to t(".q_a"), topic_path(Settings.topic.q_a) %></li>
        <li><%= link_to t(".feedback"), topic_path(Settings.topic.feedback) %></li>
        <li><%= link_to t(".confession"), topic_path(Settings.topic.confesstion) %></li>
        <li>
          <div class="btn-nav">
            <%= link_to t(".post_question"), new_post_path, class: "btn btn-primary btn-small navbar-btn" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
